/* Master Styles i.e fonts, colors, etc. */

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

html {
    background-color: #606C38;
    color: #FEFAE0;
    font-family: "roboto", 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 100px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 24px;
    font-weight: 350;
}

/* Nav Bar */

nav {
    position: sticky;
    background-color: #283618;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
    column-gap: 200px;
    height: 85px;
    width: 100%;
    top: 0%;
}

ul {
    list-style-type: none;
    display: flex;
    font-size: 20px;
    font-weight: 500;
}

.nav-bar-contact-links-list {
    display: flex;
    column-gap: 100px;
}

.nav-bar-tabs {
    display: flex;
    color: #FEFAE0;
    text-decoration: none;
    column-gap: 100px;
}

.links:hover {
    background-color: #BC6C25;
    border-radius: 1em;
}

a>svg:hover {
    background-color: #BC6C25;
    border-radius: 1em;
}

.nav-bar-tab-containers {
    width: 179px;
    height: 50px;
}

.links {
    text-decoration: none;
    color: #FEFAE0;
    display: flex;
    justify-content: center;
    line-height: 50px;
}

/* Page Sections */

.sections-container {
    margin: 10px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 300px;
}

.first-section {
    margin-top: 200px;
    text-align: center;
    display: flex;
}

.about-me-text {
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
}

.fun-facts-container {
    display: flex;
    text-align: center;
    column-gap: 40px;
}

.fun-facts-content {
    border-style: solid;
    border-color: #FEFAE0;
    padding: 5px;
}

.likes-content-container {
    display: flex;
    align-items: center;
}

.fourth-section {
    margin-bottom: 200px;
}

.dislikes-content-container {
    display: flex;
    text-align: center;
    column-gap: 100px;
}